{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <h1>Get In Touch</h1>
  <div class="media-body">
      <div class="content-section">
          <p> Hello, I am Viktor Basharkevich and I run this blog. You can reach me through these mediums for any business opportunities:</p>
          <ul class="list-group">
              <a class="list-group-item list-group-item-light" href="https://viktorbash.github.io/" target="_blank">Personal Website With My Projects and Resume</a>
              <a class="list-group-item list-group-item-light" href="mailto:basharkevichv@gmail.com" target="_blank">Email Me At: basharkevichv@gmail.com</a>
              <a class="list-group-item list-group-item-light" href="https://github.com/ViktorBash" target="_blank">Github</a>
              <a class="list-group-item list-group-item-light" href="https://github.com/ViktorBash/DjangoWebsite" target="_blank">This project on Github</a>
          </ul>

          <p></p>
          <img src="{% static "images/Contact_Image.jpg" %}" style="max-width:100%;max-height:100%">

      </div>
  </div>
{% endblock content %}
